name: CI
on:
    push: { branches: [main] }
    pull_request:
jobs:
    test:
        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v4
            - uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: stable
                  components: clippy, rustfmt
            - name: Linux setup
              if: matrix.os == 'ubuntu-latest'
              run: sudo apt-get update &&
                  sudo apt-get install -y xvfb x11-utils xdotool sway
            - name: Start xvfb
              if: matrix.os == 'ubuntu-latest'
              run: |
                  export DISPLAY=:99
                  Xvfb :99 -screen 0 1024x768x24 &
            - run: cargo fmt -- --check
            - run: cargo clippy --all-features -- -D warnings
            - name: Test
              run: cargo test --all --all-features -- --test-threads=1
              env:
                  INTEGRATION_TEST: 1

