name: Publish

on:
    push:
        branches:
            - main
        tags:
            - v*.*.*

    pull_request:
        branches:
            - main

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    publish:
        name: Publish
        runs-on: ubuntu-latest
        if: ${{ github.event_name == 'push' && github.ref_type == 'tag' && startsWith(github.ref_name, 'v') }}
        steps:
            - uses: actions/checkout@v4

            - name: Install rust toolchain
              uses: dtolnay/rust-toolchain@stable
              with:
                  toolchain: stable
                  components: rustfmt, clippy

            - name: Publish
              env:
                  CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
              run: cargo publish --all-features

            - name: Release drafter
              uses: release-drafter/release-drafter@v5
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  publish: true
                  name: ${{ github.ref_name }}
                  tag: ${{ github.ref_name }}
